.halls
  padding-top: 30px
  &__square
    margin: 0 auto 7px
  &__subtitle
    margin-bottom: 3px
  &__title
    margin: 0
    margin-bottom: 43px
  &__text
    position: absolute
    top: 40px
    right: 57px
    padding: 36px 40px 105px
    background-color: $light-color
  &__heading
    margin: 0
    margin-bottom: 18px
    font-size: 24px
    +playfair_bold
    letter-spacing: 0.8px
  &__line
    display: inline-block
    width: 61px
    height: 1px
    margin-top: 14px
    margin-right: 20px
    vertical-align: top
    background-color: transparentize($line-color,.4) 
  &__description
    display: inline-block
    max-width: 405px
    margin-left: -3px
    margin-bottom: 20px
    font-size: 18px
    line-height: 28px
    color: $text-color2
  &__button
    margin-left: 86px
    padding: 17px 24px 16px 24px
  &__arrows
    position: absolute
    bottom: -22px
    left: 46.4%
    max-width: 88px
    display: flex
    justify-content: space-around
    z-index: 1
  &__links
    display: flex
    flex-basis: 50%
    margin-top: 122px
  &__link
    display: block
    flex-basis: 50%
    background-color: $main-color
    transition: 0.2s
    &:hover
      background-color: $hover-color
    &-1
      padding: 39px 71px 30px 97px
    &-2
      padding: 41px 37px 28px 93px

.slider
  &-block
    position: relative
  &__item
    position: relative
    display: flex
    align-items: center

.arrows
  &__left, &__right
    width: 44px
    height: 44px
    background-color: $main-color
    text-align: center
    line-height: 44px
    cursor: pointer
    transition: 0.2s
    &:hover
      background-color: $hover-color

.link
  &-block
    display: flex
    align-items: center
  &__text
    display: inline-block
    max-width: 190px
    margin-right: 95px
    font-size: 16px
    line-height: 24px
    +playfair_bold
    letter-spacing: 0.32px
    &-2
      margin-bottom: 14px
      margin-right: 101px
      letter-spacing: 0.5px
  &__arrow
    margin-right: 47px
    margin-bottom: 7px
    &-2
      margin-right: 50px
  &__image
    margin-top: -6px
    &-1
      margin-top: -6px

