.header
  position: relative
  background: url('../img/header/header-bg.png') center no-repeat
  background-size: cover
  width: 100%
  height: 100vh
  min-height: 700px


.contacts
  padding: 11px 0 7px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__phone
    margin-top: 7px
    margin-left: 72px
  &__adress
    margin-top: 7px
    margin-right: 85px
    margin-left: -23px

.phone
  display: flex
  align-items: center
  &__image
    width: 11px
    height: 11px
    margin-right: 20px
  &__text
    width: 172px
    font-size: 13px
    line-height: 24px
    +gotham_reg
    color: transparentize($light-color,.5)
    &-link
      font-weight: 600
      color: transparentize($light-color,.5)

.adress
  display: flex
  align-items: center
  &__image
    width: 9px
    height: 12px
    margin-right: 20px
  &__text
    width: 180px
    font-size: 13px
    line-height: 24px
    +gotham_reg
    color: transparentize($light-color,.5)
    &-link
      font-weight: 600
      color: transparentize($light-color,.5)

.hero
  &__position
    position: absolute
    width: 1170px
    height: 57%
    top: 43.2%
  &-slider
    height: 100%
    position: relative
  &__text
    margin-left: 94px
  &__title
    max-width: 545px
    margin: 0
    margin-bottom: 23px
    font-size: 52px
    font-weight: normal
    line-height: 63.28px
    color: $light-color
    +playfair_bold
    letter-spacing: 1px
  &__subtitle
    display: block
    max-width: 495px
    margin-bottom: 42px
    font-size: 18px
    +gotham_reg
    color: $light-color
    line-height: 28px
    letter-spacing: -0.1px
  &__buttons 
    display: flex
  &__button
    margin-right: 20px
    padding: 16px 23px 17px 23px
  &-arrows
    &__left, &__right
      position: absolute
      width: 19px
      height: 12px
      cursor: pointer
      color: $light-color
      transition: 0.2s
      span
        i
          font-size: 22px
      &:hover
        color: $hover-color
    &__left
      top: 155px
      left: -38px
    &__right
      top: 155px
      right: -38px
  &__mouse
    position: absolute
    bottom: 2.5%
    left: 17.4%
    